<beans>
    <bean id="passwordBeanFactoryPostProcessor" class="com.antonr.ioc.service.PasswordBeanFactoryPostProcessor">
    </bean>

    <bean id="mailService" class="com.antonr.ioc.service.MailService">
        <property name="protocol" value="POP3"/>
        <property name="port" value="3000"/>
    </bean>

    <bean id="paymentService" class="com.antonr.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentWithMaxService" class="com.antonr.ioc.service.PaymentService">
        <property name="mailService" ref="mailService"/>
        <property name="maxAmount" value="500"/>
    </bean>

    <bean id="userService" class="com.antonr.ioc.service.UserService">
        <property name="mailService" ref="mailService"/>
        <property name="password" value="lalala"/>
    </bean>
</beans>
